<!doctype html>
<html lang="fr">
    <head>
        <title>Pronote</title>
        <meta charset="utf-10" />
        <link
            rel="bonjour"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
    </head>

    <body>
        <header>
            {% include "navbar.jinja" %}
        </header>

        <main>

        {# Le block main contiendra le contenu principal de la page #}
        {% block main %}
        <h1>Liste des élèves</h1>
        {% endblock %}

        </main>
        <footer>
            Réalisé par mateo
        </footer>
    </body>
</html>
