{% extends "squelette.jinja" %}

{# La variable eleve doit avoir été transmise par le controler #}

<script type="text/javascript">


{% block main %}
    <h1>Détails de la classe</h1>
    <p><strong>Nom :</strong> {{ classe.nom }}</p>
    <p><strong>Élèves :</strong></p>
    {% for eleve in eleve %}
        <li>{{ eleve.prenom }}</li>
    {% endfor %}

    <a href="{{ url_for('classe_bp.update_classe', eid=classe.id) }}">Modifier la classe</a>
    <a href="{{ url_for('classe_bp.delete_classe', eid=classe.id) }}">Supprimer la classe</a>
    <a href="{{ url_for('classe_bp.liste_classe') }}">Retour à la liste</a>

{% endblock %}
